    * {
      font-family: sans-serif;
    }

    body {
      max-width: 70ch;
      margin: auto;
      padding: 0 1rem;
    }

    video {
      width: 100%;
      max-height: 250px;
      background-color: black;
      object-fit: cover;
    }

    dt {
      font-weight: bold;
    }

    dd {
      font-size: 1.4rem;
      margin: 0;
      margin-bottom: 1em;
    }

    button {
      font-size: 1.4rem;
    }